<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text" style="color: #fff">Inicie Sesión</h2>
    </div>
    <% if flash[:notice] %>
      <p class="notice">
        <%= notice %>
      </p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert">
        <%= alert %>
      </p>
    <% end %>
    <div style="display: flex; flex-wrap: wrap">
      <div class="mdl-card__supporting-text border-right"  >
          <%= devise_error_messages! %>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <%= f.email_field :email, autofocus: true, class: 'mdl-textfield__input' %>
            <%= f.label :email , class: 'mdl-textfield__label'%>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <%= f.password_field :password, autocomplete: "off", class: 'mdl-textfield__input' %>
            <%= f.label :password, class: 'mdl-textfield__label' %>
          </div>
          <% if devise_mapping.rememberable? -%>
            <label class="mdl-checkbox mdl-js-checkbox" for="user_remember_me">
              <%= f.check_box :remember_me, class: 'mdl-checkbox__input' %>
              <span class="mdl-checkbox__label">Remember me</span>
            </label>  
          <% end %>          
          <br>
          <div style="text-align: center;">
            <%= render "devise/shared/links" %>
          </div>
      </div>
      <div class="mdl-card__supporting-text second"  >
        <p>Ingresa con su red social favorita:</p>
        <div class="fb-button">
          <i class="fa fa-facebook" aria-hidden="true" style="margin-right: 1em; color: white; font-size: 1.2em;"></i>
          <%= link_to "Ingresar con Facebook", user_omniauth_authorize_path(:facebook)%>
        </div>
        <div class="google-button">
          <i class="fa fa-google-plus" aria-hidden="true" style="margin-right: 0.7em; color: white; font-size: 1.2em;"></i>
          <%= link_to "Ingresar con Google", user_google_oauth2_omniauth_authorize_path%>
        </div>
      </div>  
      <div class="mdl-card__actions mdl-card--border">
        <%= f.button "Log in", class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
      </div>
    </div>
  </div>
<% end %>