<div class="mdl-card mdl-shadow--6dp">
  <div class="mdl-card__title dark-blue-color mdl-color-text--white">
    <h2 class="mdl-card__title-text">Ingrese</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.email_field :email, autofocus: true, class: 'mdl-textfield__input' %>
        <%= f.label :email , class: 'mdl-textfield__label'%>
        <!-- <input class="mdl-textfield__input" type="text" id="username" />
        <label class="mdl-textfield__label" for="username">Username</label> -->
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.password_field :password, autocomplete: "off", class: 'mdl-textfield__input' %>
        <%= f.label :password, class: 'mdl-textfield__label' %>
        <!-- <input class="mdl-textfield__input" type="password" id="userpass" />
        <label class="" for="userpass">Password</label> -->
      </div>
      <% if devise_mapping.rememberable? -%>
        <label class="mdl-checkbox mdl-js-checkbox" for="user_remember_me">
          <!-- <input type="checkbox" id="checkbox1" class="mdl-checkbox__input" checked> -->
          <%= f.check_box :remember_me, class: 'mdl-checkbox__input' %>
          <span class="mdl-checkbox__label">Remember me</span>
          <!-- <#%= f.label :remember_me, class: 'mdl-checkbox__label' %> -->
        </label>  
      <% end %>          
      <br>
      <%= render "devise/shared/links" %>
      <div class="mdl-card__actions mdl-card--border">
        <!-- <button class="mdl-button mdl-buttoncolored mdl-js-button mdl-js-ripple-effect">Log in</button> -->
        <%= f.button "Log in", class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
      </div>
    <% end %>
  </div>
</div>